.wrapper {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 12px;
  margin-top: 8px;
  font-size: 0.85rem;
  color: #6b7280; /* text.secondary */
}

/* ARROW BUTTONS */
.arrowBtn {
  padding: 4px;
  border: none;
  background: transparent;
  cursor: pointer;
  color: #374151; /* text.primary */
  display: flex;
  align-items: center;
}

.arrowBtn:hover:not(.arrowDisabled) {
  opacity: 0.8;
}

.arrowDisabled {
  color: #b0b0b0 !important;
  cursor: not-allowed;
}

/* PAGE BUTTON */
.pageButton {
  border: 1px solid #d1d5db;
  padding: 2px 12px;
  height: 32px;
  font-size: 0.85rem;
  font-weight: 600;
  border-radius: 6px;
  background-color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
}

.pageButton:hover {
  background: #f9fafb;
}

.rangeText {
  font-size: 0.83rem;
  color: #4b5563;
}
