.clear {
  color: #6d28d9;
  font-weight: 600;
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  font-size: 1rem;
}

.clear:hover {
  text-decoration: underline;
}
